In [3]:
import pandas as pd
impoort seaborn as sns

In [3]:
import pandas as pd
impoort seaborn as sns

# 명시적 인덱서 검색

In [4]:
diamonds = sns.load_dataset('diamonds')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# loc

In [ ]:
데이터프레임을 생성시 부여된 명시적인(explicit) 행, 열 인덱스 정보를 활용해 데이터를 추출하는 방식

* 데이터프레임객체.loc[ 행검색조건, 열검색조건 ]

In [6]:
diamonds.loc[0] # 첫번째 행 데이터, 행인덱스 0의 행데이터

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table       55.0
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

In [7]:
diamonds.loc[3] # 행인덱스 3의 행데이터

carat         0.29
cut        Premium
color            I
clarity        VS2
depth         62.4
table         58.0
price          334
x              4.2
y             4.23
z             2.63
Name: 3, dtype: object

In [9]:
diamonds.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [11]:
# 데이터프레임객체.loc[ 행검색조건, 열검색조건]
diamonds.loc[1,'price']

326

In [13]:
diamonds.loc[2,'clarity']

'VS1'

* 슬라이싱 적용
* [주의] loc에서는 마지막 인덱스를 포함

In [15]:
# 10행에서 25행 사이의 모든 'carat' 데이터 조회
# loc에서는 마지막 인덱스를 포함
diamonds.loc[ 10:25 , 'carat']

10    0.30
11    0.23
12    0.22
13    0.31
14    0.20
15    0.32
16    0.30
17    0.30
18    0.30
19    0.30
20    0.30
21    0.23
22    0.23
23    0.31
24    0.31
25    0.23
Name: carat, dtype: float64

* loc에서 펜시검색 적용

In [18]:
# 10행에서 25행 사이의 모든 'carat', 'depth' 열 데이터 조회
diamonds.loc[ 10:25 , ['carat', 'depth']]

    carat  depth
10   0.30   64.0
11   0.23   62.8
12   0.22   60.4
13   0.31   62.2
14   0.20   60.2
15   0.32   60.9
16   0.30   62.0
17   0.30   63.4
18   0.30   63.8
19   0.30   62.7
20   0.30   63.3
21   0.23   63.8
22   0.23   61.0
23   0.31   59.4
24   0.31   58.1
25   0.23   60.4

# 암묵적(Implicity) 인덱서

* 인덱스 또는 colomns이 레이블(문자)로 존재하더라도 암묵적으로 인덱스 접근이 가능  
* iloc[행필터링조건,열필터링조건]  
* 암묵적 인덱스는 행 또는 열에 시작이 0부터 시작된다.

In [19]:
diamonds.head(1)

   carat    cut color clarity  depth  table  price     x     y     z
0   0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

In [20]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [23]:
diamonds.shape

(53940, 10)

In [25]:
# 중위수 데이터 조회
diamonds.iloc[26969]

carat       2.04
cut        Ideal
color          F
clarity      SI2
depth       62.4
table       56.0
price      17049
x           8.07
y           8.14
z           5.06
Name: 26969, dtype: object

In [26]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [35]:
# 모든 'price' 열 정보 추출
# temp = [1,2,3,4,5,6,7]
# temp[:] # 모든 데이터 가져오기
diamonds.iloc[ : , 6]

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [36]:
# 비교
# diamonds['price'] : 간단한 열 추출은 이 방법으로

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [38]:
# 중위수에서 10개의 다이아몬드 가격
# iloc에서느 마지막 인덱스 불포함
diamonds.iloc[ 26969:26979 , 6]

26969    17049
26970    17050
26971    17051
26972    17051
26973    17052
26974    17053
26975    17057
26976    17057
26977    17062
26978    17063
Name: price, dtype: int64

In [39]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [40]:
diamonds.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

* 마이너스 인덱스 활용

In [41]:
diamonds.iloc[ 26969:26979 , -4]

26969    17049
26970    17050
26971    17051
26972    17051
26973    17052
26974    17053
26975    17057
26976    17057
26977    17062
26978    17063
Name: price, dtype: int64

* 마이너스 인덱스를 활용한 행, 열 슬라이싱  
마지막 3개열 중위수부터 10개

In [42]:
diamonds.iloc[ 26969:26979 , -3:]

          x     y     z
26969  8.07  8.14  5.06
26970  7.53  7.50  4.60
26971  8.47  8.55  5.05
26972  8.24  8.17  5.07
26973  7.88  7.79  4.58
26974  8.48  8.40  5.27
26975  7.28  7.34  4.59
26976  8.16  8.12  4.93
26977  8.34  8.43  5.27
26978  8.24  8.30  5.11

* 열이름을 통한 슬라이싱  
전제조건] 열이름을 통한 슬라이싱을 하려면 열이름이 정렬이 되어 있어야 한다.

In [43]:
diamonds.head(1)

   carat    cut color clarity  depth  table  price     x     y     z
0   0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

In [45]:
diamonds.loc[:,'x':'z'].head()

      x     y     z
0  3.95  3.98  2.43
1  3.89  3.84  2.31
2  4.05  4.07  2.31
3  4.20  4.23  2.63
4  4.34  4.35  2.75

In [46]:
diamonds.loc[:,'carat':'color'].head()

   carat      cut color
0   0.23    Ideal     E
1   0.21  Premium     E
2   0.23     Good     E
3   0.29  Premium     I
4   0.31     Good     J

# 인덱스 변경

In [ ]:
데이터 분석을 위해 기존의 열의 값을 인덱스로 활용

In [47]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [49]:
set_i = diamonds.set_index('color')
set_i

       carat        cut clarity  depth  table  price     x     y     z
color
E       0.23      Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
E       0.21    Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
E       0.23       Good     VS1   56.9   65.0    327  4.05  4.07  2.31
I       0.29    Premium     VS2   62.4   58.0    334  4.20  4.23  2.63
J       0.31       Good     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
D       0.72      Ideal     SI1   60.8   57.0   2757  5.75  5.76  3.50
D       0.72       Good     SI1   63.1   55.0   2757  5.69  5.75  3.61
D       0.70  Very Good     SI1   62.8   60.0   2757  5.66  5.68  3.56
H       0.86    Premium     SI2   61.0   58.0   2757  6.15  6.12  3.74
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

* 인덱스 정렬

In [50]:
set_i.sort_index().head(20)

       carat        cut clarity  depth  table  price     x     y     z
color
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64
D       1.00  Very Good     SI2   63.5   59.0   4295  6.35  6.32  4.02
D       1.00       Good     SI2   57.8   58.0   4295  6.61  6.55  3.80
D       1.00  Very Good     SI2   61.5   63.0   4295  6.32  6.27  3.87
D       0.56      Ideal      IF   61.9   57.0   4293  5.28  5.31  3.28
D       0.90  Very Good     SI1   61.8   59.0   4291  6.13  6.16  3.80
D       0.90  Very Good     SI1   62.1   60.0   4289  6.11  6.19  3.82
D       0.71       Good     VS2   63.6   54.0   4289  5.70  5.75  3.64
D       0.43    Premium     VS2   59.7   59.0    901  4.89  4.93  2.93
D       0.81    Premium     VS1   62.3   58.0   4284  5.94  6.00  3.72
D       0.30      Ideal    VVS1   61.9   57.0    905  4.27  4.29  2.65
D       0.64      Ideal    VVS1   61.5   56.0   4281  5.57  5.59  3.43
D       0.35      Ideal     VS2   60.5   56.0    907  4.63  4.60  2.79
D       0.41  Very Good     SI1   63.4   56.0    907  4.76  4.73  3.01
D       0.61      Ideal    VVS1   62.1   56.0   4279  5.46  5.43  3.38
D       0.24  Very Good     SI1   63.1   55.0    475  3.95  4.01  2.51
D       0.32      Ideal     VS2   59.8   57.0    907  4.51  4.46  2.68
D       0.40      Ideal     VS2   62.2   55.0    909  4.72  4.74  2.94
D       0.30      Ideal     VS2   62.4   56.0    911  4.32  4.27  2.68
D       0.30    Premium     VS2   62.5   59.0    911  4.28  4.23  2.66

In [51]:
set_i # sort_index() 실행하면 자기 자신의 값을 변경하지 않는다.

       carat        cut clarity  depth  table  price     x     y     z
color
E       0.23      Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
E       0.21    Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
E       0.23       Good     VS1   56.9   65.0    327  4.05  4.07  2.31
I       0.29    Premium     VS2   62.4   58.0    334  4.20  4.23  2.63
J       0.31       Good     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
D       0.72      Ideal     SI1   60.8   57.0   2757  5.75  5.76  3.50
D       0.72       Good     SI1   63.1   55.0   2757  5.69  5.75  3.61
D       0.70  Very Good     SI1   62.8   60.0   2757  5.66  5.68  3.56
H       0.86    Premium     SI2   61.0   58.0   2757  6.15  6.12  3.74
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [52]:
sorted_set_i = set_i.sort_index()
sorted_set_i

       carat        cut clarity  depth  table  price     x     y     z
color
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64
D       1.00  Very Good     SI2   63.5   59.0   4295  6.35  6.32  4.02
D       1.00       Good     SI2   57.8   58.0   4295  6.61  6.55  3.80
D       1.00  Very Good     SI2   61.5   63.0   4295  6.32  6.27  3.87
D       0.56      Ideal      IF   61.9   57.0   4293  5.28  5.31  3.28
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
J       1.00    Premium     SI1   60.8   58.0   3712  6.39  6.44  3.90
J       1.52      Ideal     SI1   61.9   57.0   7491  7.37  7.33  4.55
J       1.50  Very Good     VS2   62.6   58.0   7492  7.25  7.29  4.55
J       0.65      Ideal     SI1   61.4   55.0   1276  5.58  5.62  3.44
J       1.30      Ideal     SI1   61.5   55.0   5728  7.03  7.06  4.33

[53940 rows x 9 columns]

In [53]:
# 'E'~'F' 색상의 모든 다이아몬드 데이터 추출
sorted_set_i.loc['E':'F']

       carat        cut clarity  depth  table  price     x     y     z
color
E       2.01      Ideal     SI2   62.2   57.0  17849  8.09  8.04  5.02
E       1.51  Very Good    VVS2   60.2   61.0  17689  7.34  7.40  4.44
E       0.50      Ideal    VVS2   61.5   57.0   2236  5.09  5.12  3.14
E       1.13      Ideal    VVS1   60.6   57.0  14525  6.72  6.77  4.09
E       1.51      Ideal     VS2   62.7   57.0  14482  7.31  7.26  4.57
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
F       1.01      Ideal     VS1   62.5   54.0   7602  6.46  6.43  4.03
F       1.01    Premium     VS1   62.5   58.0   7602  6.42  6.37  4.00
F       1.05      Ideal     VS2   59.1   57.0   7697  6.67  6.66  3.94
F       1.01       Good     VS2   57.3   62.0   5487  6.63  6.59  3.79
F       1.52      Ideal     SI1   62.0   54.0  12071  7.36  7.44  4.59

[19339 rows x 9 columns]

In [54]:
set_i

       carat        cut clarity  depth  table  price     x     y     z
color
E       0.23      Ideal     SI2   61.5   55.0    326  3.95  3.98  2.43
E       0.21    Premium     SI1   59.8   61.0    326  3.89  3.84  2.31
E       0.23       Good     VS1   56.9   65.0    327  4.05  4.07  2.31
I       0.29    Premium     VS2   62.4   58.0    334  4.20  4.23  2.63
J       0.31       Good     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
D       0.72      Ideal     SI1   60.8   57.0   2757  5.75  5.76  3.50
D       0.72       Good     SI1   63.1   55.0   2757  5.69  5.75  3.61
D       0.70  Very Good     SI1   62.8   60.0   2757  5.66  5.68  3.56
H       0.86    Premium     SI2   61.0   58.0   2757  6.15  6.12  3.74
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [55]:
set_i.loc['E':'F'] # 인덱스가 정렬이 되지 않은 상황에서 슬라이싱 문법 적용시 에러 발생

KeyError: "Cannot get left slice bound for non-unique label: 'E'"

In [56]:
sorted_set_i

       carat        cut clarity  depth  table  price     x     y     z
color
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64
D       1.00  Very Good     SI2   63.5   59.0   4295  6.35  6.32  4.02
D       1.00       Good     SI2   57.8   58.0   4295  6.61  6.55  3.80
D       1.00  Very Good     SI2   61.5   63.0   4295  6.32  6.27  3.87
D       0.56      Ideal      IF   61.9   57.0   4293  5.28  5.31  3.28
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
J       1.00    Premium     SI1   60.8   58.0   3712  6.39  6.44  3.90
J       1.52      Ideal     SI1   61.9   57.0   7491  7.37  7.33  4.55
J       1.50  Very Good     VS2   62.6   58.0   7492  7.25  7.29  4.55
J       0.65      Ideal     SI1   61.4   55.0   1276  5.58  5.62  3.44
J       1.30      Ideal     SI1   61.5   55.0   5728  7.03  7.06  4.33

[53940 rows x 9 columns]

In [57]:
sorted_set_i.loc['F':'G']

       carat      cut clarity  depth  table  price     x     y     z
color
F       1.15  Premium     SI2   62.2   59.0   4437  6.70  6.62  4.14
F       1.01     Good     SI2   63.9   54.0   4416  6.33  6.44  4.08
F       0.90     Fair     SI2   69.0   59.0   2536  5.89  5.82  4.04
F       0.31    Ideal    VVS1   62.2   53.0    840  4.35  4.37  2.71
F       0.73  Premium     SI1   61.7   58.0   2527  5.74  5.70  3.53
...      ...      ...     ...    ...    ...    ...   ...   ...   ...
G       0.79  Premium     SI2   60.8   58.0   1877  6.00  5.98  3.61
G       1.23    Ideal     VS2   62.4   57.0   8085  6.83  6.88  4.28
G       0.34    Ideal     VS2   62.1   55.0    596  4.46  4.49  2.78
G       0.36  Premium     SI1   61.8   59.0    689  4.57  4.55  2.82
G       0.42  Premium     SI1   62.7   58.0    687  4.75  4.79  2.99

[20834 rows x 9 columns]

In [58]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [59]:
set_i_p = diamonds.set_index('price')
set_i_p

       carat        cut color clarity  depth  table     x     y     z
price
326     0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
326     0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
327     0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
334     0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
335     0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
2757    0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
2757    0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
2757    0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
2757    0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
2757    0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53940 rows x 9 columns]

In [60]:
set_i_p.loc[1000:2000]

       carat        cut color clarity  depth  table     x     y     z
price
1000    0.38  Very Good     E    VVS2   61.8   56.0  4.66  4.68  2.88
1000    0.39  Very Good     F     VS1   57.1   61.0  4.86  4.91  2.79
1000    0.38  Very Good     E     VS1   61.5   58.0  4.64  4.69  2.87
1000    0.38    Premium     E     VS1   60.7   59.0  4.65  4.70  2.84
1000    0.38      Ideal     E     VS1   61.6   56.0  4.65  4.67  2.87
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
1999    0.56    Premium     G     VS1   61.0   60.0  5.39  5.32  3.27
2000    0.59  Very Good     F     SI1   63.4   54.0  5.35  5.40  3.41
2000    0.70      Ideal     J     VS1   62.8   56.0  5.64  5.66  3.55
2000    0.70       Good     E     SI1   64.4   58.0  5.48  5.52  3.54
2000    0.70       Fair     E     SI1   57.2   66.0  5.76  5.74  3.29

[10848 rows x 9 columns]

In [65]:
set_i_p.loc[1000:2000, 'carat':'depth']

       carat        cut color clarity  depth
price
1000    0.38  Very Good     E    VVS2   61.8
1000    0.39  Very Good     F     VS1   57.1
1000    0.38  Very Good     E     VS1   61.5
1000    0.38    Premium     E     VS1   60.7
1000    0.38      Ideal     E     VS1   61.6
...      ...        ...   ...     ...    ...
1999    0.56    Premium     G     VS1   61.0
2000    0.59  Very Good     F     SI1   63.4
2000    0.70      Ideal     J     VS1   62.8
2000    0.70       Good     E     SI1   64.4
2000    0.70       Fair     E     SI1   57.2

[10848 rows x 5 columns]

* 열의 순서 바꾸기

In [66]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [67]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [69]:
diamonds[['color', 'clarity', 'depth']]

      color clarity  depth
0         E     SI2   61.5
1         E     SI1   59.8
2         E     VS1   56.9
3         I     VS2   62.4
4         J     SI2   63.3
...     ...     ...    ...
53935     D     SI1   60.8
53936     D     SI1   63.1
53937     D     SI1   62.8
53938     H     SI2   61.0
53939     D     SI2   62.2

[53940 rows x 3 columns]

In [72]:
diamonds[['color', 'depth', 'clarity']].head()

  color  depth clarity
0     E   61.5     SI2
1     E   59.8     SI1
2     E   56.9     VS1
3     I   62.4     VS2
4     J   63.3     SI2

In [75]:
diamonds_priority = diamonds[ ['price','carat','clarity','cut','color','depth','table','x','y','z'] ].head()
diamonds_priority

   price  carat clarity      cut color  depth  table     x     y     z
0    326   0.23     SI2    Ideal     E   61.5   55.0  3.95  3.98  2.43
1    326   0.21     SI1  Premium     E   59.8   61.0  3.89  3.84  2.31
2    327   0.23     VS1     Good     E   56.9   65.0  4.05  4.07  2.31
3    334   0.29     VS2  Premium     I   62.4   58.0  4.20  4.23  2.63
4    335   0.31     SI2     Good     J   63.3   58.0  4.34  4.35  2.75

* 열 이름으로 필터링 할 경우에는 열 이름까지 정렬할 필요는 없다.  
왜냐하면 열이름은 중복이 허용되지 않기 때문에다.

In [76]:
diamonds_priority.loc[:,'price':'table']

   price  carat clarity      cut color  depth  table
0    326   0.23     SI2    Ideal     E   61.5   55.0
1    326   0.21     SI1  Premium     E   59.8   61.0
2    327   0.23     VS1     Good     E   56.9   65.0
3    334   0.29     VS2  Premium     I   62.4   58.0
4    335   0.31     SI2     Good     J   63.3   58.0