# 시계열 분석의 기본 개념

* 시계열 분석은 단일 또는 다변 수치 값으로 자기회귀하여 데이터의 트랜드와 반복패턴을 찾아 예측하는 분석 기법
* 자기회귀(Autoregression)는 이전 시간 단계의 관측값을 입력으로 사용하여 회귀 방정식을 구성하여 다음 시간 단계의 값을 예측하는   
  시계열 모델입니다.

# 데이터 로드

* 한국부동산원_전국주택가격동향조사_월별동향_아파트_매매가격(평균매매가격)_20240630

In [107]:
import pandas as pd

# Load the dataset from the CSV file using pandas
df = pd.read_csv("20240630.csv", encoding='cp949')

In [108]:
df.head()

,지역,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,...,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06
0,전국,264474.0,264035.0,263470.0,262630.0,261823.0,260425.0,258959.0,257163.0,255680.0,...,447695.0,449561.0,450090.0,449530.0,452117.0,451135.0,450506.0,450577.0,450932.0,452330.0
1,수도권,365249.0,364275.0,362790.0,360918.0,359253.0,356737.0,354214.0,350990.0,348174.0,...,661799.0,665193.0,666233.0,665377.0,665914.0,664644.0,664048.0,664664.0,665731.0,669144.0
2,지방권,163394.0,163491.0,163849.0,164044.0,164096.0,163820.0,163416.0,163052.0,162905.0,...,254477.0,254964.0,255032.0,254740.0,258322.0,257601.0,256943.0,256520.0,256231.0,255802.0
3,6대광역시,195186.0,194989.0,195093.0,195037.0,194851.0,194273.0,193523.0,192675.0,192214.0,...,333817.0,334515.0,334401.0,333839.0,338308.0,337439.0,336710.0,336410.0,336213.0,335812.0
4,5대광역시,190421.0,190312.0,190555.0,190603.0,190631.0,190183.0,189587.0,188896.0,188635.0,...,325523.0,326057.0,325957.0,325465.0,329757.0,328758.0,327864.0,327370.0,326899.0,326018.0

In [109]:
df= df.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,229,230,231,232,233,234,235,236,237,238
지역,전국,수도권,지방권,6대광역시,5대광역시,9개도,8개도,서울,서울 강북지역,서울 강북지역 도심권,...,경남 진주시,경남 통영시,경남 사천시,경남 김해시,경남 밀양시,경남 거제시,경남 양산시,제주,제주 제주시,제주 서귀포시
2012-01,264474.0,365249.0,163394.0,195186.0,190421.0,211371.0,139237.0,540954.0,405962.0,706316.0,...,157468.0,143155.0,101292.0,172711.0,105897.0,181049.0,130287.0,134994.0,145425.0,80868.0
2012-02,264035.0,364275.0,163491.0,194989.0,190312.0,211340.0,139518.0,538876.0,405406.0,705830.0,...,157582.0,143155.0,101292.0,171124.0,105897.0,181585.0,130202.0,139424.0,150436.0,82283.0
2012-03,263470.0,362790.0,163849.0,195093.0,190555.0,211142.0,139979.0,536079.0,404184.0,702286.0,...,159802.0,143507.0,101519.0,169589.0,105897.0,182488.0,129489.0,139830.0,150769.0,83067.0
2012-04,262630.0,360918.0,164044.0,195037.0,190603.0,210804.0,140306.0,532409.0,402746.0,701482.0,...,159814.0,143162.0,101519.0,168874.0,105971.0,183663.0,128351.0,141365.0,152481.0,83683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02,451135.0,664644.0,257601.0,337439.0,328758.0,348376.0,193573.0,1050926.0,857325.0,1280575.0,...,236053.0,168873.0,122531.0,210010.0,163303.0,143320.0,204292.0,301189.0,334103.0,231755.0
2024-03,450506.0,664048.0,256943.0,336710.0,327864.0,347635.0,193310.0,1051339.0,857580.0,1281537.0,...,236870.0,168634.0,122547.0,210110.0,163130.0,142195.0,203827.0,300513.0,333369.0,231201.0
2024-04,450577.0,664664.0,256520.0,336410.0,327370.0,347367.0,193103.0,1053752.0,858996.0,1284208.0,...,236750.0,168618.0,122831.0,210267.0,163632.0,140568.0,203271.0,299652.0,332303.0,230774.0
2024-05,450932.0,665731.0,256231.0,336213.0,326899.0,347336.0,193109.0,1056975.0,861219.0,1288765.0,...,236949.0,168108.0,122889.0,210573.0,163899.0,139338.0,202717.0,298791.0,331210.0,230399.0
2024-06,452330.0,669144.0,255802.0,335812.0,326018.0,347934.0,193079.0,1065067.0,867403.0,1299979.0,...,237581.0,167205.0,122849.0,210889.0,164411.0,137932.0,201943.0,298014.0,330212.0,230089.0

In [110]:
df= df.rename(columns=df.iloc[0])
df

,전국,수도권,지방권,6대광역시,5대광역시,9개도,8개도,서울,서울 강북지역,서울 강북지역 도심권,...,경남 진주시,경남 통영시,경남 사천시,경남 김해시,경남 밀양시,경남 거제시,경남 양산시,제주,제주 제주시,제주 서귀포시
지역,전국,수도권,지방권,6대광역시,5대광역시,9개도,8개도,서울,서울 강북지역,서울 강북지역 도심권,...,경남 진주시,경남 통영시,경남 사천시,경남 김해시,경남 밀양시,경남 거제시,경남 양산시,제주,제주 제주시,제주 서귀포시
2012-01,264474.0,365249.0,163394.0,195186.0,190421.0,211371.0,139237.0,540954.0,405962.0,706316.0,...,157468.0,143155.0,101292.0,172711.0,105897.0,181049.0,130287.0,134994.0,145425.0,80868.0
2012-02,264035.0,364275.0,163491.0,194989.0,190312.0,211340.0,139518.0,538876.0,405406.0,705830.0,...,157582.0,143155.0,101292.0,171124.0,105897.0,181585.0,130202.0,139424.0,150436.0,82283.0
2012-03,263470.0,362790.0,163849.0,195093.0,190555.0,211142.0,139979.0,536079.0,404184.0,702286.0,...,159802.0,143507.0,101519.0,169589.0,105897.0,182488.0,129489.0,139830.0,150769.0,83067.0
2012-04,262630.0,360918.0,164044.0,195037.0,190603.0,210804.0,140306.0,532409.0,402746.0,701482.0,...,159814.0,143162.0,101519.0,168874.0,105971.0,183663.0,128351.0,141365.0,152481.0,83683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02,451135.0,664644.0,257601.0,337439.0,328758.0,348376.0,193573.0,1050926.0,857325.0,1280575.0,...,236053.0,168873.0,122531.0,210010.0,163303.0,143320.0,204292.0,301189.0,334103.0,231755.0
2024-03,450506.0,664048.0,256943.0,336710.0,327864.0,347635.0,193310.0,1051339.0,857580.0,1281537.0,...,236870.0,168634.0,122547.0,210110.0,163130.0,142195.0,203827.0,300513.0,333369.0,231201.0
2024-04,450577.0,664664.0,256520.0,336410.0,327370.0,347367.0,193103.0,1053752.0,858996.0,1284208.0,...,236750.0,168618.0,122831.0,210267.0,163632.0,140568.0,203271.0,299652.0,332303.0,230774.0
2024-05,450932.0,665731.0,256231.0,336213.0,326899.0,347336.0,193109.0,1056975.0,861219.0,1288765.0,...,236949.0,168108.0,122889.0,210573.0,163899.0,139338.0,202717.0,298791.0,331210.0,230399.0
2024-06,452330.0,669144.0,255802.0,335812.0,326018.0,347934.0,193079.0,1065067.0,867403.0,1299979.0,...,237581.0,167205.0,122849.0,210889.0,164411.0,137932.0,201943.0,298014.0,330212.0,230089.0

In [111]:
df= df.drop(df.index[0])
df

,전국,수도권,지방권,6대광역시,5대광역시,9개도,8개도,서울,서울 강북지역,서울 강북지역 도심권,...,경남 진주시,경남 통영시,경남 사천시,경남 김해시,경남 밀양시,경남 거제시,경남 양산시,제주,제주 제주시,제주 서귀포시
2012-01,264474.0,365249.0,163394.0,195186.0,190421.0,211371.0,139237.0,540954.0,405962.0,706316.0,...,157468.0,143155.0,101292.0,172711.0,105897.0,181049.0,130287.0,134994.0,145425.0,80868.0
2012-02,264035.0,364275.0,163491.0,194989.0,190312.0,211340.0,139518.0,538876.0,405406.0,705830.0,...,157582.0,143155.0,101292.0,171124.0,105897.0,181585.0,130202.0,139424.0,150436.0,82283.0
2012-03,263470.0,362790.0,163849.0,195093.0,190555.0,211142.0,139979.0,536079.0,404184.0,702286.0,...,159802.0,143507.0,101519.0,169589.0,105897.0,182488.0,129489.0,139830.0,150769.0,83067.0
2012-04,262630.0,360918.0,164044.0,195037.0,190603.0,210804.0,140306.0,532409.0,402746.0,701482.0,...,159814.0,143162.0,101519.0,168874.0,105971.0,183663.0,128351.0,141365.0,152481.0,83683.0
2012-05,261823.0,359253.0,164096.0,194851.0,190631.0,210270.0,140378.0,529733.0,401085.0,700462.0,...,159700.0,143207.0,101519.0,168084.0,105971.0,183272.0,127287.0,144561.0,155972.0,85350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02,451135.0,664644.0,257601.0,337439.0,328758.0,348376.0,193573.0,1050926.0,857325.0,1280575.0,...,236053.0,168873.0,122531.0,210010.0,163303.0,143320.0,204292.0,301189.0,334103.0,231755.0
2024-03,450506.0,664048.0,256943.0,336710.0,327864.0,347635.0,193310.0,1051339.0,857580.0,1281537.0,...,236870.0,168634.0,122547.0,210110.0,163130.0,142195.0,203827.0,300513.0,333369.0,231201.0
2024-04,450577.0,664664.0,256520.0,336410.0,327370.0,347367.0,193103.0,1053752.0,858996.0,1284208.0,...,236750.0,168618.0,122831.0,210267.0,163632.0,140568.0,203271.0,299652.0,332303.0,230774.0
2024-05,450932.0,665731.0,256231.0,336213.0,326899.0,347336.0,193109.0,1056975.0,861219.0,1288765.0,...,236949.0,168108.0,122889.0,210573.0,163899.0,139338.0,202717.0,298791.0,331210.0,230399.0
2024-06,452330.0,669144.0,255802.0,335812.0,326018.0,347934.0,193079.0,1065067.0,867403.0,1299979.0,...,237581.0,167205.0,122849.0,210889.0,164411.0,137932.0,201943.0,298014.0,330212.0,230089.0

In [112]:
df= df.iloc[:, :1]
df

               전국
2012-01  264474.0
2012-02  264035.0
2012-03  263470.0
2012-04  262630.0
2012-05  261823.0
...           ...
2024-02  451135.0
2024-03  450506.0
2024-04  450577.0
2024-05  450932.0
2024-06  452330.0

[150 rows x 1 columns]

In [113]:
df= df.reset_index()
df

       index        전국
0    2012-01  264474.0
1    2012-02  264035.0
2    2012-03  263470.0
3    2012-04  262630.0
4    2012-05  261823.0
..       ...       ...
145  2024-02  451135.0
146  2024-03  450506.0
147  2024-04  450577.0
148  2024-05  450932.0
149  2024-06  452330.0

[150 rows x 2 columns]

In [114]:
df.columns=['ds','y']
df

          ds         y
0    2012-01  264474.0
1    2012-02  264035.0
2    2012-03  263470.0
3    2012-04  262630.0
4    2012-05  261823.0
..       ...       ...
145  2024-02  451135.0
146  2024-03  450506.0
147  2024-04  450577.0
148  2024-05  450932.0
149  2024-06  452330.0

[150 rows x 2 columns]

In [2]:
# Plot the dataset, showing price (y column) over time (ds column)
# plt = df.plot(x="ds", y="y", figsize=(15, 5))

import matplotlib.pyplot as plt
from matplotlib import font_manager,rc
# 한글 폰트
font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)
# CSV 파일 로드
# 판다스 내장 plot 함수를 사용하여 바로 차트 그리기
df.plot(x='ds', y='y', figsize=(10, 5), legend=True, title='날짜별 에너지 소비량 변화', grid=True, rot=45)
plt.xlabel('날짜')
plt.ylabel('')
plt.show()

NameError: name 'df' is not defined

* 시계열 열은 "ds"로 이름 지어져야 하며 날짜 및 시간 값을 포함해야 합니다.

* 값 열은 "y"로 이름 지어져야 하며 부동 소수점 값을 포함해야 합니다.

### 주의사항
* NeuralProphet 버전에 따라 NeuralProphet 모델에서 시각화를 지원하는  
  plotly 와 matplotlib 모듈과 충돌이 발생할 수 있으므로  
  원본 데이터 분석을 위한 시각화 코드는 분리해서 작성하자

# 설치

cuda_12.4.1_551.78_windows.exe 설치
pip install neuralprophet plotly plotly-resampler
pip install torch torchvision torchaudio -f https://download.pytorch.org/whl/torch_stable.html
conda install cudatoolkit